// Mobile menu button

.mobile-menu {
  position: absolute;
  bottom: 10px;
  right: 10px;

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }

  // &__close {
  //   display: none;
  // }
}

.mobile-menu__close {
  display: none;
}
.mobile-menu.is-open .mobile-menu__close {
  display: block;
}

.mobile-menu.is-open .mobile-menu__burger {
  display: none;
}

//   &__burger {
//     display: none;
//   }
// }

// Hero button
.order {
  @extend %btn;

  padding: 10px 32px;
  margin-top: 30px;
  min-width: 200px;

  &:hover,
  &:focus {
    color: $mainBackgroundColor;
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

// Subscription button
.subscription-btn {
  @extend %btn;
min-width: 200px;

@media screen and (max-width:1199px) {
  margin-top: 20px;
}


  position: relative;

  padding: 10px 29px;

  @media screen and(min-width: 768px) {
    width: 200px;
  }

  @media screen and(min-width: 1200px) {
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

// Modal buttons
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %flex;
  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $mainAccentColor;
  }

  &__close {
    fill: currentColor;
  }
}

.btn-flex {
  @extend %flex;
  margin-top: 30px;

  &__submit {
    text-align: center;
    padding: 10px 32px;

    min-width: 200px;
    background-color: $mainAccentColor;
    color: $mainBackgroundColor;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__submit:hover,
  &__submit:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
