.clients-section {
  @media screen and(min-width:480px) and (max-width:1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-container {
  @extend %containerGeometry;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    }
  
    &__title {
    margin-bottom: 30px;
    color: $mainTextColor;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }



  

    &__link {
    @extend %flex;
    width: 210px;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    border-color: $mainAccentColor;
    color: $mainAccentColor;
    /* outline: none; */
  }
  
  }
 
@media screen and (max-width:480px)  {

    .clients-container__list{
display: flex;
align-items: center;
justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .clients-container__item{
    display: flex;
align-items: center;
justify-content: center;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
      }
}

@media screen and (max-width:768px)  {

  .clients-container__list{
display: flex;
align-items: center;
justify-content: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-container__item{
  display: flex;
align-items: center;
justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
    }
}

@media screen and (min-width:1200px)  {

  .clients-container__list{
display: flex;
align-items: center;
justify-content: center;
}

.clients-container__item{
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-container__item:not(:last-child) {
  margin-right: 30px;
}
}




//   &__title {
//     margin-bottom: 30px;
//     color: $mainTextColor;
//     font-weight: bold;
//     font-size: 28px;
//     line-height: 1.18;
//     text-align: center;
//     letter-spacing: 0.03em;
//   }

//   &__list {
//     display: flex;
//     align-items: center;
//     justify-content: center;

   
//   }
//   &__item {
//     @extend %flex;

//     @media screen and (min-width: 480px) and(min-width:768px){
//       margin-left: 30px;
//       margin-top: 30px;
//     }
  
  
//     @media screen and (min-width: 768px) {
//       flex-basis: calc(100% / 3 - 30px);
//     }
//   }
//   &__item:not(:last-child) {
//     margin-right: 30px;
//   }

//   &__link {
//     @extend %flex;
//     width: 210px;
//     height: 92px;

//     border: 1px solid #afb1b8;
//     border-radius: 4px;
//     color: #afb1b8;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   &__icon {
//     fill: currentColor;
//   }

//   &__link:hover,
//   &__link:focus {
//     border-color: $mainAccentColor;
//     color: $mainAccentColor;
//     /* outline: none; */
//   }
// }

// @media screen and(min-width:480px) and (min-width:768px){
//   .clients-container__list{
//     flex-wrap: wrap;
//     margin-left: -30px;
//     margin-top: -30px;
//   }

// }

// @media screen and (min-width: 480px){
//   .clients-container__item{
//     flex-basis: calc(100% / 2 - 30px);
//   }
  
// }
