.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  margin-left: auto;
  @media screen and(min-width:1200px) {
    display: flex;

  }

  &__item:not(:last-child) {
    @media screen and (min-width: 768px){
      margin-bottom: 10px;
    }
   @media screen and(min-width:1200px) {
     margin-right: 30px;
     
   }
  }

  &__mail{
    @media screen and(max-width:1199px) {
      padding-top: 21px;
    }
  }

  &__tel{
    @media screen and(max-width:1199px) {
      padding-bottom: 21px;
    }
  }

  &__mail,
  &__tel {
    @media screen and(min-width:1200px){
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 32px;
     padding-bottom: 32px;
    }
    

    color: $secondaryColor;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__mail:hover,
  &__mail:focus {
    color: $mainAccentColor;
  }

  &__tel:hover,
  &__tel:focus {
    color: $mainAccentColor;
  }
}
.footer-address{
  @media screen and (max-width:767px){
    margin-bottom: 60px;
    text-align: center;
  }
}
.footer-contacts {
  font-style: normal;
  



  &__list {
    display: inline-block;
  }

  &__item:not(:first-child) {
    margin-top: 8px;
  }

  &__address {
    color: $mainBackgroundColor;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__address:hover,
  &__address:focus {
    color: $mainAccentColor;
  }

  &__mail,
  &__tel {
    display: inline-block;

    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__mail:hover,
  &__mail:focus {
    color: $mainAccentColor;
  }

  &__tel:hover,
  &__tel:focus {
    color: $mainAccentColor;
  }
}
