.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: $mainBackgroundColor;
    overflow: auto;
    opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
z-index: 1;


    &__container{
    
        position: relative;
  padding: 48px 40px;
    }

    &__list{
        margin-bottom: 302px;
    }

 
&__item:not(:last-child){
    margin-bottom: 32px;
}

&__link:hover,
&__link:focus{
   color: $mainAccentColor;
}
    &__link{
        color: $mainTextColor;
        font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.18;

letter-spacing: 0.02em;
    }

    &__link--highlight{
        color: $mainAccentColor;
    }

    &__tel{
        margin-bottom: 32px;
        color: $secondaryColor;
        font-style: normal;
font-weight: 500;

font-size: 24px;
line-height: 1.16;



letter-spacing: 0.02em;
    }

    &__mail{
        color: $secondaryColor;
        font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
    }

    &__tel:hover,
    &__tel:focus{
        color: $mainAccentColor;
        font-size: 34px;
line-height: 1.18;

    }

    &__mail:hover,
    &__mail:focus{
        color: $mainAccentColor;
        font-size: 34px;
line-height: 1.18;

    }
    &__contacts-list{
        margin-bottom: 64px;
    }
    
    &__item-social{
       
        display: flex;
    }
    &__item-social:not(:last-child){
        margin-right: 10px;
    }

    &__item-social:not(:last-child)::after{
       content: " ";
       width: 1px;
       height: 100%;
       margin-left: 10px;

       display: block;
     
     border-right: 1px solid rgba(33, 33, 33, 0.2);
        
    }

    &__social{
        @media screen and(max-width:399px) {
            margin-bottom: 10px;
        }
       color: $mainAccentColor;
        font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;


    }

 

    &__flex-list{
        display: flex;
        @media screen and(max-width:399px) {
            flex-direction: column;

        }
      
    }

}


.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}
